# HR frontend
VITE_API_BASE_URL=https://api.thinz.io.vn/careergraph/api/v1
VITE_RTC_BASE_URL=https://rtc.thinz.io.vn
VITE_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
VITE_CLIENT_SITE_URL=https://thinz.io.vn
